@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.hero {
  padding: var(--spacing-xlarge) var(--spacing-page);
  @include background-cover;
  min-height: 20vh;

  h2 {
    font-size: var(--font-size-xxlarge);
    color: var(--color-light);
  }

  h3 {
    font-size: var(--font-size-large);
    color: var(--color-light);
  }

  p {
    color: var(--color-light);
    font-size: var(--font-size-base);
    padding: var(--spacing-base) 0;
  }

  img {
    max-width: clamp(150px, 30vw, 700px);
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
  }
}

@media (max-width: $tablet-breakpoint) {
  .greeting {
    display: none;
  }
  .hero :global(.even_columns) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
