@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.sectionHeader {
  @include background-cover;
  min-height: 20vh;
  padding: var(--spacing-large) var(--spacing-page);
  text-align: center;
  @include flex-center;

  h2 {
    font-size: var(--font-size-xxlarge);
    color: var(--color-light);
  }
}
