.sectionHeader {
  background-image: url("../../../assets/images/shared/section-header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 20vh;
  padding: var(--spacing-large) var(--spacing-page);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionHeader h2 {
  font-size: var(--font-size-xxlarge);
  color: var(--color-light);
}
