@use "../../../styles/abstracts/mixins" as *;

.contact {
  min-height: 85vh;
  @include background-cover;

  .container {
    padding: var(--spacing-base) var(--spacing-page);
  }

  .header {
    @include flex-column;
    align-items: center;

    .contactMeArrow {
      @include flex-center;
      gap: var(--spacing-base);

      h2 {
        font-size: var(--font-size-medium);
        color: var(--color-primary);
      }

      img {
        position: relative;
        max-width: clamp(20px, 5vw, 40px);
        rotate: 50deg;
        transform: translateY(-0.5em);
      }
    }

    h3 {
      font-size: var(--font-size-xxlarge);
      color: var(--color-light);
      transform: translateY(-0.5em);
    }
  }
}
