.footer {
  color: var(--color-light);
}

.mainArea {
  min-height: 20vh;
  padding: var(--spacing-large) var(--spacing-page);
  background-color: var(--color-background-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomArea {
  min-height: 8vh;
  padding: var(--spacing-small) var(--spacing-page);
  background-color: var(--color-background-dark);
  font-size: var(--font-size-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
