@use '../abstracts/variables' as *;

@font-face {
  font-family: 'Montserrat-Light';
  src: url("#{$font-path}Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("#{$font-path}OpenSans-VariableFont_wdth,wght.ttf");
}
